<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.cloud.im">

    <!-- 网络相关的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- 读取存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 写存储权限，OSS需要 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- Access Key ID ：LTAIBZr2n3nbVeK7 -->
    <!-- Access Key Secret ：R0ZanvhqiQWZTffQ1lKJeVZ75jjyVe -->
    <!-- Endpoint ：oss-cn-shanghai.aliyuncs.com -->
    <!-- BUCKET_NAME ：fdouble -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AccountActivity"
            android:label="@string/title_activity_account"
            android:theme="@style/AppTheme.Account">
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_launch"
            android:theme="@style/AppTheme.Main">
        </activity>
        <activity
            android:name=".activity.UserActivity"
            android:label="@string/user_activity"
            android:theme="@style/AppTheme.Account">
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.Account">
        </activity>

        <!-- 个推的广播注册 -->
        <receiver
            android:name=".MessageReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="1000">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>